@for (block of blocks; track block;) {
  @switch (block.type) {
    @case ('button') {
      <block-button [block]="block"></block-button>
    }
    @case ('media-only') {
      <block-media-only [block]="block"></block-media-only>
    }
    @case('panels') {
      <block-panels [block]="block"></block-panels>
    }
    @case ('text-only') {
      <block-text-only [block]="block"></block-text-only>
    }
    @case ('text-media') {
      <block-text-media [block]="block"></block-text-media>
    }
  }
}
