.wrapper {

  &.banner {
    height: 400px;
    overflow: hidden;
    position: relative;
  
    .media {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}